{% extends "template.html" %}


{% block head %}

<title>{{course.name}}</title>


{% endblock %}


{% block content %}
	<p>
		<a href={% url 'course_list' course.pk %}>Back</a>
	</p>
	
	{% if exams %}

		<table>
			<tr>
				<th>exam</th>
				<th>score</th>	
			</tr>
			{% for exam in exams %}
				<tr>
					{% if exam.result %}
						<td>{{exam.name}}</td>
						
						{% if exam.result.score %}
						
							<td>{{exam.result.score}}/{{exam.result.total}}</td>
						
						{% else %}
						
							<td>???/{{exam.result.total}}</td>

						{% endif %}
					{% else %}
						<td>
							<a href={% url 'exam_detail' exam.pk %}>{{exam.name}}</a>
						</td>
					
					{% endif %}
					
				</tr>
			{% endfor %}

		</table>
	{% else %}
		<p>No Exams</p>
	{% endif %}

{% endblock %}