{% extends "template.html" %}


{% block head %}

<title>{{course.name}}</title>


{% endblock %}


{% block content %}
	<p>
		<a href={% url 'course_list' course.pk %}>Back</a>
	</p>
	
	<a href={% url "new_exam" course.pk %}>New exam</a>
	<a href={% url 'exam_statistics' course.pk %}>Statistics</a>
	{% if exams %}

		<table>
			<tr>
				<th>exam</th>
			</tr>
			{% for exam in exams %}
				<tr>
					<td>
						<a href={% url 'exam_detail' exam.pk %}>{{exam.name}}</a>
					</td>
				</tr>
			{% endfor %}

		</table>
	{% else %}
		<p>No Exams</p>
	{% endif %}

{% endblock %}