{% extends "base.html" %}



{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">恭喜</h3>
				  </div>
				  <div class="panel-body">
				    <p>注册成功!
					<a href={% url 'login' %}>登录</a>
					</p>
						{% if teacher %}		
							<p>您注册的账号为教师账号，需管理员激活</p>		
						{% endif %}    
				  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}