{% extends "template.html" %}


{% block head %}

<title>selection</title>


{% endblock %}


{% block content %}

	{% if courses %}

		<table>
			<th>
				<td>name</td>
				<td>teacher</td>
				<td>description</td>
				<td></td>
			</th>
			
			{% for course in courses %}
				<tr>
					<td><a href="/course/{{course.pk}}">{{course.name}}</a></td>
					<td>{{course.teacher.username}}</td>
					<td>{{course.description}}</td>
					<td><a href="/course/select/{{course.pk}}?next={{request.path}}">Select</a></td>
				</tr>
			
			{% endfor %}

		</table>
	{% else %}
		<p>No course available</p>
	{% endif %}

{% endblock %}