{% extends "base.html" %}


{% block head %}

selection


{% endblock %}


{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">选课页面</h3>
				  </div>
				  <div class="panel-body">

						{% if courses %}


							<div class="list-group">								
							{% for course in courses %}
							  <a href="/course/{{course.pk}}" class="list-group-item">
							    <h4 id="course-list-heading" class="list-group-item-heading">{{course.name}}</h4>						    
							    <p id="course-list-text" class="list-group-item-text">
								<span class="glyphicon glyphicon-user"></span>
							    {{course.teacher.username}}</p>
							    <p id="course-list-text" class="list-group-item-text">{{course.description}}</p>
							  </a>								
							{% endfor %}
							</div>

						{% else %}
							<p>No course available</p>
						{% endif %}
				  </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}