{% extends "template.html" %}


{% block head %}

<title>Student Profile</title>


{% endblock %}


{% block content %}

	<a href={% url "selection" %}>Select</a>
	
	{% if courses %}

		<table>
			<tr>
				<th>name</th>
				<th>teacher</th>
				<th>description</th>
			</tr>
			
			{% for course in courses %}
				<tr>
					<td><a href="/course/{{course.pk}}">{{course.name}}</a></td>
					<td>{{course.teacher.username}}</td>
					<td>{{course.description}}</td>
				</tr>
			
			{% endfor %}

		</table>
	{% else %}
		<p>No Selection</p>
	{% endif %}
	

{% endblock %}