{% extends "template.html" %}


{% block head %}

<title>{{course.name}}</title>


{% endblock %}


{% block content %}
	<p>
		{% if selected %}
			<a href={% url 'profile' %}>Back</a>
		{% else %}
			<a href={% url 'selection' %}>Back</a>
		{% endif %}
	</p>
	
	<p>
	{% if selected %}
		<a href="/course/deselect/{{course.pk}}?next={{request.path}}">Deselect</a>
		<a href={% url 'blog_list' course.pk %}>Blog</a>
	{% else %}
		<a href="/course/select/{{course.pk}}?next={{request.path}}">Select</a>
		
	{% endif %}
	</p>
	{% if videos %}

		<table>
			
			{% for video in videos %}
				<tr>
					<td>
					{% if selected %}
						<a href="/video/{{video.pk}}">{{video.name}}</a>
					{% else %}
						{{video.name}}
					{% endif %}
					</td>
					<td>{{video.description}}</td>
				</tr>
			{% endfor %}

		</table>
	{% else %}
		<p>No Videos</p>
	{% endif %}

{% endblock %}